*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2F0743,#1d0120, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2F0743,#1d0120, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.superContainer{
    display: flex;
    width: 100vw;
    height: 90vh;
    justify-content: space-around;
    transition: justify-content 500ms;
}

.menubar{
    position: relative;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(to bottom, #29062cb6, #00000000);
    display: flex;
}
.title{
    position: relative;
    font-family: 'Pacifico', cursive;
    color: white;
    align-self: center;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    width: 100%;
}
.container{
    position: relative;
    width: 40vw;
    height: 40vw;
    transition: transform 500ms;
    transform: rotate(45deg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    animation-name: startPresentation;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
@keyframes startPresentation{
    from{
        transform: rotate(45deg) scale(1);
    }
    to{
        transform: rotate(45deg) scale(0.75);
    }
}

.showPresentation option{
    transform: scale(0.7);
}
.option{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 400ms;
    background-color: #9b9b9b49;
    border: 2px solid white;
}
.option + .option{
    margin: 1rem;
}
.options{
    width: 120%;
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
    transition: transform 500ms;
    cursor: pointer;

    color: rgb(219, 219, 219);
    font-size: 2.5rem;
    font-family: Verdana;
    text-shadow: 2px 2px 1px black;
}
.option:hover{
    transform: translate(-20px,-20px);
}
#op1{
    background-image: url('./img/director-orquesta-png.png');
    background-size: cover;
    background-position: center;
}

#op2{
    background-image: url('./img/comunication.png');
    background-size: cover;
    background-position: center;
}
#op3{
    background-image: url('./img/businessman-png.png');
    background-size: cover;
    background-position: center;
}

.content{
    display: none;
    width: 60%;
}

.contentOp{
    display: none;
    padding: 10px;
    border: 7px solid white;
    border-radius: 3px;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    animation-name: showContent;
    transform-origin: top center;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    color: white;
    font-family: 'Roboto Slab', serif;
    text-shadow: 2px 2px 2px black;
    background-color: #cecece38;
    white-space: pre-wrap;
}
.contentOp h2{
    text-align: center;
}
.contentOp p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    width: 100%;
}
.contentOp li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.contentOp img{
    max-width: 70%;
    max-height: 70%;
}

@keyframes showContent{
    from{
        transform: scaleY(0.1);
        opacity: 0.1;
    }
    to{
        transform: scaleY(1);
        opacity: 1;
    }
}

