*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background: linear-gradient(to right, #43cea2, #185a9d);
}
.superContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.menubar{
    position: absolute;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.title{
    position: absolute;
    font-family: 'Pacifico', cursive;
    color: white;
    align-self: center;
    font-size: 2rem;
    margin-left: calc(20% - 3.5rem);
    word-wrap: break-word;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
.container{
    position: relative;
    width: 40vw;
    height: 40vw;
    /* margin: 10vw 15vw; */
    transition: transform 500ms;
    transform: rotate(45deg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* background-color: lightgreen; */
    align-self: center;
}

.option{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    transition: transform 400ms;
}
.options{
    /* border: 3px solid white; */
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
    transition: transform 500ms;
    cursor: pointer;
}
#op1{
    background-image: url('./img/director-orquesta-png.png');
    background-size: cover;
    background-position: center;
}

#op2{
    background-image: url('./img/comunication.png');
    background-size: cover;
    background-position: center;
}
#op3{
    background-image: url('./img/businessman-png.png');
    background-size: cover;
    background-position: center;
}
#op4{
    background-image: url('./img/objective.png');
    background-size: cover;
    background-position: center;
}

.options:hover{
    background-color: lightgreen;
    border: 3px solid white;
}
.content{
    display: none;
    width: 60%;
    height: 100%;
    /* background-color: lightsalmon; */
    /* transform: translateX(7rem); */
    /* animation-name: showContent;
    animation-duration: 500ms; */
    /* animation-delay: 500ms; */
}
.selectedOption{
    transform: scale(1.4);
}
.content::before{
    content: '';
    clip-path: polygon(100% 0, 50% 50%, 100% 100%);
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    background-color: white;
    align-self: center;
    margin-left: -40px;
}
.contentOp{
    display: block;
    padding: 50px;
    border: 7px solid white;
    border-radius: 3px;
    width: 100%;
    transform: scaleX(0.1);
    transform-origin: center left;
    animation-name: showContent;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    color: white;
    font-family: 'Roboto Slab', serif;
    text-shadow: 2px 2px 2px black;
    background-color: #cecece38;
}
.contentOp h2{
    text-align: center;
}
.contentOp p{
    text-align: justify;
}
@keyframes showContent{
    from{
        transform: scaleX(0.1);
    }
    to{
        transform: scaleX(1);
    }
}

